examples/usecase_flows.json
[{"id":"3fdb18fb.8cea18","type":"tab","label":"Usecase button thumb-down"},{"id":"c0b0fd39.ae491","type":"tab","label":"Usecase register multiple boxes"},{"id":"891286e2.03bc08","type":"amqp-server","z":"","host":"localhost","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}"},{"id":"fdb854b7.2845d8","type":"comfortbox-api-server","z":"","host":"localhost","port":"3000","protocol":"https","accessToken":""},{"id":"caac457e.b0a2c8","type":"amqp in","z":"3fdb18fb.8cea18","name":"CB7 button thumb-down pressed","topic":"","iotype":"4","ioname":"comfort.220037000f47343432313031.event.button.1","server":"891286e2.03bc08","x":167,"y":167,"wires":[["202954f.a8074ac"]]},{"id":"ea0abe76.98d98","type":"debug","z":"3fdb18fb.8cea18","name":"","active":true,"console":"false","complete":"true","x":1376,"y":168,"wires":[]},{"id":"9abd465d.914c18","type":"function","z":"3fdb18fb.8cea18","name":"read value from API response and prepare text","func":"var result = JSON.parse(msg.payload);\nvar avgTemp = Math.round(result.results[0].values[0][1] * 100) / 100;\nmsg.payload = 'The average temperature of the ComfortBox CB7 during the last hour was: \\n' + avgTemp + 'C.';\nmsg.topic = 'Average temperature of ComfortBox CB7';\nreturn msg;","outputs":"1","noerr":0,"x":811,"y":168,"wires":[["822c6ed2.bfaf3","bd7e9f41.7910c"]]},{"id":"822c6ed2.bfaf3","type":"debug","z":"3fdb18fb.8cea18","name":"","active":true,"console":"false","complete":"payload","x":1111,"y":114,"wires":[]},{"id":"bd7e9f41.7910c","type":"display text","z":"3fdb18fb.8cea18","name":"","server":"fdb854b7.2845d8","device":"{\"name\":\"CB7\",\"particleId\":\"220037000f47343432313031\",\"created\":\"2017-06-01T08:16:19.576Z\",\"id\":1}","boxId":"1","text":"","return":"txt","x":1160,"y":168,"wires":[["ea0abe76.98d98"]]},{"id":"202954f.a8074ac","type":"query data","z":"3fdb18fb.8cea18","name":"get avg temp from last day","server":"fdb854b7.2845d8","device":"{\"name\":\"CB7\",\"particleId\":\"220037000f47343432313031\",\"created\":\"2017-06-01T08:16:19.576Z\",\"id\":1}","boxId":"1","particleId":"220037000f47343432313031","metricName":"temp","startRelativeValue":"1","startRelativeUnit":"days","startAbsolute":"","endRelativeValue":"","endRelativeUnit":"default","endAbsolute":"","aggregatorName":"avg","aggregatorValue":"1","aggregatorUnit":"days","return":"txt","x":455,"y":167,"wires":[["9abd465d.914c18","564b5f6f.716cc"]]},{"id":"564b5f6f.716cc","type":"debug","z":"3fdb18fb.8cea18","name":"","active":true,"console":"false","complete":"payload","x":701,"y":111,"wires":[]},{"id":"9ab6223.c04afe","type":"register box","z":"c0b0fd39.ae491","name":"","server":"fdb854b7.2845d8","boxName":"","particleId":"","created":"","labels":"boxesFromCsv","return":"txt","x":706,"y":166,"wires":[["cc3e861e.e792d8","26c8247b.b94c2c"]]},{"id":"26c8247b.b94c2c","type":"configure box","z":"c0b0fd39.ae491","name":"configure MQTT host","server":"fdb854b7.2845d8","device":"payload","boxId":"3","boxName":"","particleId":"","labels":"","return":"txt","mqttHost":"573c73c6-670a-491c-8003-3815e134f176.pub.cloud.scaleway.com","mqttPort":"1883","dataInterval":"","worktime":"","doShowDataRegularly":"","x":948,"y":166,"wires":[["460c5cf.0c7eba4"]]},{"id":"460c5cf.0c7eba4","type":"debug","z":"c0b0fd39.ae491","name":"","active":true,"console":"false","complete":"true","x":1159,"y":166,"wires":[]},{"id":"cc3e861e.e792d8","type":"debug","z":"c0b0fd39.ae491","name":"","active":true,"console":"false","complete":"payload","x":919,"y":108,"wires":[]},{"id":"cce735f7.298148","type":"inject","z":"c0b0fd39.ae491","name":"inject comma-separated particle ids","topic":"","payload":"111111111111111111111111,222222222222222222222222,333333333333333333333333","payloadType":"str","repeat":"","crontab":"","once":false,"x":198,"y":166,"wires":[["1c29e71a.fe0be9"]]},{"id":"1c29e71a.fe0be9","type":"split","z":"c0b0fd39.ae491","name":"split particle ids","splt":",","x":481,"y":166,"wires":[["9ab6223.c04afe"]]}]