examples/usecase_flows.json
[{"id":"3fdb18fb.8cea18","type":"tab","label":"Usecase button thumb-down"},{"id":"c0b0fd39.ae491","type":"tab","label":"Usecase register multiple boxes"},{"id":"fdb854b7.2845d8","type":"comfortbox-api-server","z":"","host":"localhost","port":"3000","useTls":true,"accessToken":""},{"id":"6c97bd52.0b8ba4","type":"comfortbox-amqp-server","z":"","host":"localhost","port":"5672","useTls":false,"vhost":"","keepalive":"30"},{"id":"ea0abe76.98d98","type":"debug","z":"3fdb18fb.8cea18","name":"","active":true,"console":"false","complete":"true","x":1745,"y":171,"wires":[]},{"id":"9abd465d.914c18","type":"function","z":"3fdb18fb.8cea18","name":"read value from API response and prepare text","func":"msg.avgTemp = Math.round(msg.payload.results[0].values[0][1] * 100) / 100;\nmsg.payload = 'The average temperature of the ComfortBox CB7 during the last day was: \\n' + msg.avgTemp + 'C.';\nmsg.topic = 'Average temperature of ComfortBox CB7';\nreturn msg;","outputs":"1","noerr":0,"x":811,"y":168,"wires":[["822c6ed2.bfaf3","bd7e9f41.7910c","e2462d72.41657"]]},{"id":"822c6ed2.bfaf3","type":"debug","z":"3fdb18fb.8cea18","name":"","active":true,"console":"false","complete":"payload","x":1130,"y":112,"wires":[]},{"id":"bd7e9f41.7910c","type":"display text","z":"3fdb18fb.8cea18","name":"","server":"fdb854b7.2845d8","device":"{\"name\":\"CB7\",\"particleId\":\"220037000f47343432313031\",\"created\":\"2017-06-23T15:54:27.000Z\",\"labels\":[],\"id\":\"be18494d-6c61-4e00-a252-3ef47bb3c62d\"}","boxId":"be18494d-6c61-4e00-a252-3ef47bb3c62d","text":"","return":"txt","x":1278,"y":169,"wires":[["ea0abe76.98d98"]]},{"id":"202954f.a8074ac","type":"query data","z":"3fdb18fb.8cea18","name":"get avg temp from last day","server":"fdb854b7.2845d8","device":"{\"name\":\"CB7\",\"particleId\":\"220037000f47343432313031\",\"created\":\"2017-06-23T15:54:27.000Z\",\"labels\":[],\"id\":\"be18494d-6c61-4e00-a252-3ef47bb3c62d\"}","boxId":"be18494d-6c61-4e00-a252-3ef47bb3c62d","particleId":"220037000f47343432313031","metricName":"temp","startRelativeValue":"1","startRelativeUnit":"days","startAbsolute":"","endRelativeValue":"","endRelativeUnit":"default","endAbsolute":"","aggregatorName":"avg","aggregatorValue":"1","aggregatorUnit":"days","return":"obj","x":455,"y":167,"wires":[["9abd465d.914c18","564b5f6f.716cc"]]},{"id":"564b5f6f.716cc","type":"debug","z":"3fdb18fb.8cea18","name":"","active":true,"console":"false","complete":"payload","x":701,"y":111,"wires":[]},{"id":"9ab6223.c04afe","type":"register box","z":"c0b0fd39.ae491","name":"","server":"fdb854b7.2845d8","boxName":"","particleId":"","created":"","labels":"boxesFromCsv","return":"txt","x":706,"y":166,"wires":[["cc3e861e.e792d8","26c8247b.b94c2c"]]},{"id":"26c8247b.b94c2c","type":"configure box","z":"c0b0fd39.ae491","name":"configure MQTT host","server":"fdb854b7.2845d8","device":"payload","boxId":"","boxName":"","particleId":"","labels":"","return":"txt","mqttHost":"573c73c6-670a-491c-8003-3815e134f176.pub.cloud.scaleway.com","mqttPort":"1883","dataInterval":"","worktime":"","doShowDataRegularly":"","x":948,"y":166,"wires":[["460c5cf.0c7eba4"]]},{"id":"460c5cf.0c7eba4","type":"debug","z":"c0b0fd39.ae491","name":"","active":true,"console":"false","complete":"true","x":1159,"y":166,"wires":[]},{"id":"cc3e861e.e792d8","type":"debug","z":"c0b0fd39.ae491","name":"","active":true,"console":"false","complete":"payload","x":919,"y":108,"wires":[]},{"id":"cce735f7.298148","type":"inject","z":"c0b0fd39.ae491","name":"inject comma-separated particle ids","topic":"","payload":"111111111111111111111111,222222222222222222222222,333333333333333333333333","payloadType":"str","repeat":"","crontab":"","once":false,"x":198,"y":166,"wires":[["1c29e71a.fe0be9"]]},{"id":"1c29e71a.fe0be9","type":"split","z":"c0b0fd39.ae491","name":"split particle ids","splt":",","x":481,"y":166,"wires":[["9ab6223.c04afe"]]},{"id":"fc61ba62.d763f8","type":"debug","z":"3fdb18fb.8cea18","name":"","active":true,"console":"false","complete":"true","x":387,"y":109,"wires":[]},{"id":"7f9f173.878bde8","type":"event trigger","z":"3fdb18fb.8cea18","name":"CB7 thumb-down pressed","amqpServer":"6c97bd52.0b8ba4","server":"fdb854b7.2845d8","device":"{\"name\":\"CB7\",\"particleId\":\"220037000f47343432313031\",\"created\":\"2017-06-23T15:54:27.000Z\",\"labels\":[],\"id\":\"be18494d-6c61-4e00-a252-3ef47bb3c62d\"}","boxId":"be18494d-6c61-4e00-a252-3ef47bb3c62d","particleId":"220037000f47343432313031","metricName":"event.button.1","queueName":"","x":172,"y":167,"wires":[["202954f.a8074ac","fc61ba62.d763f8"]]},{"id":"b9b218c8.4b2d08","type":"display color","z":"3fdb18fb.8cea18","name":"display color blue","server":"fdb854b7.2845d8","device":"{\"name\":\"CB7\",\"particleId\":\"220037000f47343432313031\",\"created\":\"2017-06-23T15:54:27.000Z\",\"labels\":[],\"id\":\"be18494d-6c61-4e00-a252-3ef47bb3c62d\"}","boxId":"be18494d-6c61-4e00-a252-3ef47bb3c62d","color1":"#0000ff","color2":"#000000","color3":"#000000","color4":"#000000","color5":"#000000","color6":"#0000ff","color7":"#000000","color8":"#000000","color9":"#000000","color10":"#000000","color11":"#000000","color12":"#000000","color13":"#000000","color14":"#000000","color15":"#000000","color16":"#000000","color17":"#000000","color18":"#000000","color19":"#000000","color20":"#ff0000","color21":"#000000","color22":"#000000","color23":"#000000","color24":"#000000","useForAll":true,"return":"txt","x":1464,"y":239,"wires":[["f9c1131a.d6981"]]},{"id":"e2462d72.41657","type":"switch","z":"3fdb18fb.8cea18","name":"Check msg.avgTemp","property":"avgTemp","propertyType":"msg","rules":[{"t":"lt","v":"20","vt":"num"},{"t":"btwn","v":"20","vt":"num","v2":"25","v2t":"num"},{"t":"gt","v":"25","vt":"str"}],"checkall":"true","outputs":3,"x":1160,"y":296,"wires":[["b9b218c8.4b2d08"],["e6083e7b.dc9e"],["2b608b5.418b374"]]},{"id":"2b608b5.418b374","type":"display color","z":"3fdb18fb.8cea18","name":"display color red","server":"fdb854b7.2845d8","device":"{\"name\":\"CB7\",\"particleId\":\"220037000f47343432313031\",\"created\":\"2017-06-23T15:54:27.000Z\",\"labels\":[],\"id\":\"be18494d-6c61-4e00-a252-3ef47bb3c62d\"}","boxId":"be18494d-6c61-4e00-a252-3ef47bb3c62d","color1":"#ff0000","color2":"#000000","color3":"#000000","color4":"#000000","color5":"#000000","color6":"#0000ff","color7":"#000000","color8":"#000000","color9":"#000000","color10":"#000000","color11":"#000000","color12":"#000000","color13":"#000000","color14":"#000000","color15":"#000000","color16":"#000000","color17":"#000000","color18":"#000000","color19":"#000000","color20":"#ff0000","color21":"#000000","color22":"#000000","color23":"#000000","color24":"#000000","useForAll":true,"return":"txt","x":1454,"y":352,"wires":[["f9c1131a.d6981"]]},{"id":"f9c1131a.d6981","type":"debug","z":"3fdb18fb.8cea18","name":"","active":true,"console":"false","complete":"true","x":1743,"y":295,"wires":[]},{"id":"e6083e7b.dc9e","type":"display color","z":"3fdb18fb.8cea18","name":"display color green","server":"fdb854b7.2845d8","device":"{\"name\":\"CB7\",\"particleId\":\"220037000f47343432313031\",\"created\":\"2017-06-23T15:54:27.000Z\",\"labels\":[],\"id\":\"be18494d-6c61-4e00-a252-3ef47bb3c62d\"}","boxId":"be18494d-6c61-4e00-a252-3ef47bb3c62d","color1":"#00ff00","color2":"#000000","color3":"#000000","color4":"#000000","color5":"#000000","color6":"#000000","color7":"#000000","color8":"#000000","color9":"#000000","color10":"#000000","color11":"#000000","color12":"#000000","color13":"#000000","color14":"#000000","color15":"#000000","color16":"#000000","color17":"#000000","color18":"#000000","color19":"#000000","color20":"#000000","color21":"#000000","color22":"#000000","color23":"#000000","color24":"#000000","useForAll":true,"selectedLeds":"","return":"txt","x":1465,"y":295,"wires":[["f9c1131a.d6981"]]}]
