examples/usecase_flows.json
[{"id":"c0b0fd39.ae491","type":"tab","label":"Register multiple boxes","disabled":false,"info":""},{"id":"87d3d48a.300518","type":"tab","label":"Reconfigure all boxes"},{"id":"3fdb18fb.8cea18","type":"tab","label":"Listen button thumb-down","disabled":false,"info":""},{"id":"6c97bd52.0b8ba4","type":"comfortbox-amqp-server","z":"","host":"localhost","port":"5672","useTls":false,"vhost":"","keepalive":"30"},{"id":"a6e99a18.397f28","type":"comfortbox-api-server","z":"","host":"localhost","port":"3000","useTls":true,"accessToken":"64abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"},{"id":"d019091.2d119f8","type":"tls-config","z":"","name":"don't verify","cert":"","key":"","ca":"","verifyservercert":false},{"id":"ea0abe76.98d98","type":"debug","z":"3fdb18fb.8cea18","name":"","active":true,"console":"false","complete":"true","x":1599,"y":169,"wires":[]},{"id":"9abd465d.914c18","type":"function","z":"3fdb18fb.8cea18","name":"read value from API response and prepare text","func":"msg.avgTemp = Math.round(msg.payload.results[0].values[0][1] * 100) / 100;\nmsg.payload = 'The average temperature of the ComfortBox CB7 during the last day was: \\n' + msg.avgTemp + 'C.';\nmsg.topic = 'Average temperature of ComfortBox CB7';\nreturn msg;","outputs":"1","noerr":0,"x":811,"y":168,"wires":[["822c6ed2.bfaf3","bd7e9f41.7910c","e2462d72.41657"]]},{"id":"822c6ed2.bfaf3","type":"debug","z":"3fdb18fb.8cea18","name":"","active":true,"console":"false","complete":"payload","x":920,"y":110,"wires":[]},{"id":"bd7e9f41.7910c","type":"display text","z":"3fdb18fb.8cea18","name":"","server":"a6e99a18.397f28","device":"{\"name\":\"CB7\",\"particleId\":\"220037000f47343432313031\",\"created\":\"2017-07-21T21:18:16.668Z\",\"labels\":null,\"id\":1}","boxId":"1","text":"","return":"txt","x":1158,"y":169,"wires":[["ea0abe76.98d98"]]},{"id":"202954f.a8074ac","type":"query data","z":"3fdb18fb.8cea18","name":"get avg temp from last day","server":"a6e99a18.397f28","device":"{\"name\":\"CB7\",\"particleId\":\"220037000f47343432313031\",\"created\":\"2017-07-21T21:18:16.668Z\",\"labels\":null,\"id\":1}","boxId":"1","particleId":"220037000f47343432313031","metricName":"temp","startRelativeValue":"1","startRelativeUnit":"days","startAbsolute":"","endRelativeValue":"","endRelativeUnit":"default","endAbsolute":"","aggregatorName":"avg","aggregatorValue":"1","aggregatorUnit":"days","return":"obj","x":455,"y":167,"wires":[["9abd465d.914c18","564b5f6f.716cc"]]},{"id":"564b5f6f.716cc","type":"debug","z":"3fdb18fb.8cea18","name":"","active":true,"console":"false","complete":"payload","x":507,"y":111,"wires":[]},{"id":"9ab6223.c04afe","type":"register box","z":"c0b0fd39.ae491","name":"","server":"a6e99a18.397f28","boxName":"","particleId":"","created":"","labels":"boxesFromCsv","return":"txt","x":655,"y":166,"wires":[["cc3e861e.e792d8","26c8247b.b94c2c"]]},{"id":"26c8247b.b94c2c","type":"configure box","z":"c0b0fd39.ae491","name":"configure MQTT host","server":"a6e99a18.397f28","device":"payload","boxId":"","boxName":"","particleId":"","labels":"","return":"txt","mqttHost":"573c73c6-670a-491c-8003-3815e134f176.pub.cloud.scaleway.com","mqttPort":"1883","dataInterval":"","worktime":"","doShowDataRegularly":"false","x":862,"y":166,"wires":[["460c5cf.0c7eba4"]]},{"id":"460c5cf.0c7eba4","type":"debug","z":"c0b0fd39.ae491","name":"","active":true,"console":"false","complete":"true","x":1057,"y":166,"wires":[]},{"id":"cc3e861e.e792d8","type":"debug","z":"c0b0fd39.ae491","name":"","active":true,"console":"false","complete":"payload","x":654,"y":226,"wires":[]},{"id":"cce735f7.298148","type":"inject","z":"c0b0fd39.ae491","name":"inject comma-separated particle ids","topic":"","payload":"111111111111111111111111,222222222222222222222222,333333333333333333333333","payloadType":"str","repeat":"","crontab":"","once":false,"x":198,"y":166,"wires":[["1c29e71a.fe0be9"]]},{"id":"1c29e71a.fe0be9","type":"split","z":"c0b0fd39.ae491","name":"split particle ids","splt":",","x":460,"y":166,"wires":[["9ab6223.c04afe"]]},{"id":"fc61ba62.d763f8","type":"debug","z":"3fdb18fb.8cea18","name":"","active":true,"console":"false","complete":"true","x":231,"y":108,"wires":[]},{"id":"7f9f173.878bde8","type":"event trigger","z":"3fdb18fb.8cea18","name":"CB7 thumb-down pressed","amqpServer":"6c97bd52.0b8ba4","server":"a6e99a18.397f28","device":"{\"name\":\"CB7\",\"particleId\":\"220037000f47343432313031\",\"created\":\"2017-07-21T21:18:16.668Z\",\"labels\":null,\"id\":1}","boxId":"1","particleId":"220037000f47343432313031","metricName":"event.button.1","queueName":"","x":172,"y":167,"wires":[["202954f.a8074ac","fc61ba62.d763f8"]]},{"id":"b9b218c8.4b2d08","type":"display color","z":"3fdb18fb.8cea18","name":"display color blue","server":"a6e99a18.397f28","device":"{\"name\":\"CB7\",\"particleId\":\"220037000f47343432313031\",\"created\":\"2017-07-21T21:18:16.668Z\",\"labels\":null,\"id\":1}","boxId":"1","color1":"#0000ff","color2":"#000000","color3":"#000000","color4":"#000000","color5":"#000000","color6":"#0000ff","color7":"#000000","color8":"#000000","color9":"#000000","color10":"#000000","color11":"#000000","color12":"#000000","color13":"#000000","color14":"#000000","color15":"#000000","color16":"#000000","color17":"#000000","color18":"#000000","color19":"#000000","color20":"#ff0000","color21":"#000000","color22":"#000000","color23":"#000000","color24":"#000000","useForAll":true,"return":"txt","x":1395,"y":241,"wires":[["f9c1131a.d6981"]]},{"id":"e2462d72.41657","type":"switch","z":"3fdb18fb.8cea18","name":"Check msg.avgTemp","property":"avgTemp","propertyType":"msg","rules":[{"t":"lt","v":"20","vt":"num"},{"t":"btwn","v":"20","vt":"num","v2":"25","v2t":"num"},{"t":"gt","v":"25","vt":"str"}],"checkall":"true","outputs":3,"x":1160,"y":296,"wires":[["b9b218c8.4b2d08"],["e6083e7b.dc9e"],["2b608b5.418b374"]]},{"id":"2b608b5.418b374","type":"display color","z":"3fdb18fb.8cea18","name":"display color red","server":"a6e99a18.397f28","device":"{\"name\":\"CB7\",\"particleId\":\"220037000f47343432313031\",\"created\":\"2017-07-21T21:18:16.668Z\",\"labels\":null,\"id\":1}","boxId":"1","color1":"#ff0000","color2":"#000000","color3":"#000000","color4":"#000000","color5":"#000000","color6":"#0000ff","color7":"#000000","color8":"#000000","color9":"#000000","color10":"#000000","color11":"#000000","color12":"#000000","color13":"#000000","color14":"#000000","color15":"#000000","color16":"#000000","color17":"#000000","color18":"#000000","color19":"#000000","color20":"#ff0000","color21":"#000000","color22":"#000000","color23":"#000000","color24":"#000000","useForAll":true,"return":"txt","x":1385,"y":354,"wires":[["f9c1131a.d6981"]]},{"id":"f9c1131a.d6981","type":"debug","z":"3fdb18fb.8cea18","name":"","active":true,"console":"false","complete":"true","x":1595,"y":297,"wires":[]},{"id":"e6083e7b.dc9e","type":"display color","z":"3fdb18fb.8cea18","name":"display color green","server":"a6e99a18.397f28","device":"{\"name\":\"CB7\",\"particleId\":\"220037000f47343432313031\",\"created\":\"2017-07-21T21:18:16.668Z\",\"labels\":null,\"id\":1}","boxId":"1","color1":"#00ff00","color2":"#000000","color3":"#000000","color4":"#000000","color5":"#000000","color6":"#000000","color7":"#000000","color8":"#000000","color9":"#000000","color10":"#000000","color11":"#000000","color12":"#000000","color13":"#000000","color14":"#000000","color15":"#000000","color16":"#000000","color17":"#000000","color18":"#000000","color19":"#000000","color20":"#000000","color21":"#000000","color22":"#000000","color23":"#000000","color24":"#000000","useForAll":true,"selectedLeds":"","return":"txt","x":1396,"y":297,"wires":[["f9c1131a.d6981"]]},{"id":"dfc2459e.fc7508","type":"http request","z":"87d3d48a.300518","name":"get all boxes","method":"GET","ret":"obj","url":"https://573c73c6-670a-491c-8003-3815e134f176.pub.cloud.scaleway.com:3000/api/ComfortBoxes?access_token=64abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789","tls":"d019091.2d119f8","x":341,"y":222,"wires":[["cac5a3bf.0120f","14402b23.e74575"]]},{"id":"f3a4bf7b.2b9f5","type":"inject","z":"87d3d48a.300518","name":"Start reconfigure","topic":"","payload":"Start reconfigure","payloadType":"str","repeat":"","crontab":"","once":false,"x":143,"y":222,"wires":[["dfc2459e.fc7508"]]},{"id":"cac5a3bf.0120f","type":"debug","z":"87d3d48a.300518","name":"","active":true,"console":"false","complete":"false","x":338,"y":281,"wires":[]},{"id":"14402b23.e74575","type":"function","z":"87d3d48a.300518","name":"pop a box from the list","func":"if (typeof msg.boxes == 'undefined' || msg.boxes === null) {\n    // first call to function, save boxes to own attribute \n    // as the msg.payload will be overwritten\n    msg.boxes = msg.payload;   \n}\n\nif (msg.boxes.length > 0) {\n    msg.device = msg.boxes.pop();\n    msg.payload = msg.device;\n}\n\nreturn msg;","outputs":"1","noerr":0,"x":583,"y":222,"wires":[["3f7ca6c6.47845a","2ba84546.b78d6a","98ffd626.844398","80812119.5d52a"]]},{"id":"fc5e28c9.61e2c8","type":"delay","z":"87d3d48a.300518","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":545,"y":138,"wires":[["14402b23.e74575"]]},{"id":"3f7ca6c6.47845a","type":"debug","z":"87d3d48a.300518","name":"","active":true,"console":"false","complete":"boxes.length","x":792,"y":130,"wires":[]},{"id":"cf7dd818.149ae8","type":"debug","z":"87d3d48a.300518","name":"","active":true,"console":"false","complete":"false","x":1741,"y":222,"wires":[]},{"id":"2ba84546.b78d6a","type":"switch","z":"87d3d48a.300518","name":"msg.boxes.length > 0","property":"boxes.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"}],"checkall":"true","outputs":1,"x":760,"y":52,"wires":[["fc5e28c9.61e2c8"]]},{"id":"98ffd626.844398","type":"http request","z":"87d3d48a.300518","name":"check if online","method":"GET","ret":"obj","url":"https://573c73c6-670a-491c-8003-3815e134f176.pub.cloud.scaleway.com:3000/api/ComfortBoxes/{{payload.id}}/isOnline?access_token=64abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789","tls":"d019091.2d119f8","x":824,"y":222,"wires":[["aa55ee28.8fa35"]]},{"id":"aa55ee28.8fa35","type":"switch","z":"87d3d48a.300518","name":"connected == \"true\"","property":"payload.connected","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":1041,"y":222,"wires":[["e8a226be.d41c58"],["55ec6713.b1fd98"]]},{"id":"80812119.5d52a","type":"debug","z":"87d3d48a.300518","name":"","active":true,"console":"false","complete":"false","x":605,"y":282,"wires":[]},{"id":"55ec6713.b1fd98","type":"debug","z":"87d3d48a.300518","name":"","active":true,"console":"false","complete":"payload","x":1041,"y":282,"wires":[]},{"id":"7c3d36ff.7f1158","type":"configure box","z":"87d3d48a.300518","name":"","server":"a6e99a18.397f28","device":"payload","boxId":"","boxName":"","particleId":"","labels":"","return":"txt","mqttHost":"","mqttPort":"1883","dataInterval":"","worktime":"","doShowDataRegularly":"true","x":1551,"y":222,"wires":[["cf7dd818.149ae8"]]},{"id":"e8a226be.d41c58","type":"function","z":"87d3d48a.300518","name":"reset msg.payload to device","func":"msg.payload = msg.device;\nreturn msg;","outputs":1,"noerr":0,"x":1311,"y":222,"wires":[["7c3d36ff.7f1158"]]}]